brace/__pycache__/
brace/dataset/manual_keypoints/
brace/utils/__pycache__/
brace/dataset/.DS_Store
brace/.DS_Store
brace/dataset/
inBreak/utils/__pycache__/
inBreak/utils/mediapipe_annotation/__pycache__/
model_testing/.DS_Store
.DS_Store
model_testing/*.mp4
model_testing/*.MOV
model_testing/__pycache__/
model_testing/models/
model_testing/ALL_0.5/
model_testing/OUTPUT_0.5/
model_testing/OUTPUT_0.1/
model_evaluation/evaluation_dataset/
model_evaluation/output/
model_evaluation/models/
model_evaluation/evaluation_dataset/
model_evaluation/models/
model_evaluation/output/
model_testing/ALL_0.5/
model_testing/OUTPUT_0.1/
model_testing/models/
model_testing/OUTPUT_0.5/
model_testing/models/
model_evaluation/evaluation_dataset/
model_evaluation/models/
model_evaluation/output/
model_testing/ALL_0.5/
model_testing/OUTPUT_0.1/
model_testing/OUTPUT_0.5/
